
<section class="height-100vh">
  <img class="background-image" src="assets/Image-03.jpg" />
  <div class="text">Brushes</div>
</section>
<div class="container marginglobal">
  <form>
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="email" class="form-control" id="fullname">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-control" id="phone">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="dob">User Date of Birth</label>
        <input type="dob" class="form-control" id="dob">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="country">Country</label>
        <select id="country" class="form-control">
          <option>India</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Current products used:</p>
    </div>
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="blusher" value="option1" aria-label="...">Blusher
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="hair" value="option1" aria-label="..." selected>Hair Products
        </label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="perfume" value="option1" aria-label="...">Perfume
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="brushes" value="option1" aria-label="...">Brushes
        </label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="mascara" value="option1" aria-label="...">Mascara
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="other" value="option1" aria-label="...">Other
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Approximately how oily is your skin?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="align skimtonebox">
        <div class="col-md-1 PA-0">
          <img  src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img  class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img  class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="align skimtonebox">
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="align skimtonebox">
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img class="opacitySet" src="assets/SVG/drop.svg"/>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="align skimtonebox">
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
        <div class="col-md-1 PA-0">
          <img src="assets/SVG/drop.svg"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="alignheader">
        <p>Slightly</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="alignheader">
        <p>Moderate</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="alignheader">
        <p>Severe</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="alignheader">
        <p>Extreme Severe</p>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-lg btnAlign">Submit</button>
  </div>
</div>
</div>
