
<section class="height-100vh">
  <img class="background-image" src="assets/Image-02.jpg" />
  <div class="text">Blusher</div>
</section>

<div class="container marginglobal">
  <div class="row">
    <div class="col-md-12">
   <!-- Accordion START -->
   <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
        <h4 class="panel-title">The product and how it works</h4>

      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <p></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
        <h4 class="panel-title">Odering</h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
        <h4 class="panel-title">Delivery</h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefour">
        <h4 class="panel-title">Q. Returns and refunds</h4>
      </div>
      <div id="collapsefour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
