
<section class="height-100vh">
  <img class="background-image" src="assets/Image-06.jpg" />
  <div class="text">Hair</div>
</section>

<div class="container marginglobal">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p style="color:mediumpurple">Hair exists in a variety of textures. Three main aspects of hair texture are the curl pattern, volume, and consistency. The derivations of hair texture are not fully understood. All mammalian hair is composed of keratin, so the make-up of hair follicles is not the source of varying hair patterns. There are a range of theories pertaining to the curl patterns of hair. Scientists have come to believe that the shape of the hair shaft has an effect on the curliness of the individual's hair. A very round shaft allows for fewer disulfide bonds to be present in the hair strand. This means the bonds present are directly in line with one another, resulting in straight hair.</p>
      <p style="color:mediumpurple">The flatter the hair shaft becomes, the curlier hair gets, because the shape allows more cysteines to become compacted together resulting in a bent shape that, with every additional disulfide bond, becomes curlier in form.[10] As the hair follicle shape determines curl pattern, the hair follicle size determines thickness. While the circumference of the hair follicle expands, so does the thickness of the hair follicle. An individual's hair volume, as a result, can be thin, normal, or thick. The consistency of hair can almost always be grouped into three categories: fine, medium, and coarse. This trait is determined by the hair follicle volume and the condition of the strand.[11] Fine hair has the smallest circumference, coarse hair has the largest circumference, and medium hair is anywhere between the other two.[11] Coarse hair has a more open cuticle than thin or medium hair causing it to be the most porous.</p>
      <p style="color:mediumpurple">There are various systems that people use to classify their curl patterns. Being knowledgeable of an individual's hair type is a good start to knowing how to take care of one's hair. There is not just one method to discovering one's hair type. Additionally it is possible, and quite normal to have more than one kind of hair type, for instance having a mixture of both type 3a & 3b curls.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <img style="height: 500px;" src="assets/hair.JPG" />
    </div>
  </div>
</div>
